<form action="/profile/edit" method="POST" enctype="multipart/form-data"> <!-- We need two libraries to upload a file -->
   <label> Username
      <input type="text" name="username" placeholder="ironhacker" />
    </label>

    <label> Avatar
      <input type="file" name="imgUrl"/>
    </label>

    <button type="submit">Submit changes</button>
</form>